
h1 {
    color:blue;
    text-align: center;
}

form {
    text-align: center;
}


  html{
      height: 100vh;
      background: linear-gradient(to bottom, #7927b2, #fb3182);
      display: flex;
      justify-content: center;
      align-items: center;
  }

.user-name{
    padding-top: 20em;
    text-align: left;
    font-style: italic;
    padding-bottom: 10px;
    text-align: center;
}

.user-name button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.user-name button:hover {
    background-color: burlywood;
}


main form button {  
    background-color: rgb(207, 31, 31);
    border: none;
    color:black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

main form button:hover {
    background-color:rgb(189, 64, 64);
}

.submit button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.submit button:hover {
    background-color: burlywood;
}
.submit {
    padding-top: 5em;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.review {
    padding-top: 5em;
    padding: 20px;
    padding-bottom: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:  rgba(255, 0, 0, 0.144);
    box-shadow: 10px 5px;
}

.review input {
    background-color: rgba(0, 110, 255, 0.822);
    border: none;
    margin-left: 5px;
    color:black;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    right: 52em;
}
